{{define "content"}}
	{{template "headTitle800" .}}
	<div style="text-align:center;"><img src="/img/landing.png" style="width:100%;max-width:640px;"></div>
	{{template "downloadApp" .}}
	{{template "downloadFullWeb" .}}

	<div class="caption"><span id="i18n_spanId_movie_caption"></span></div>

	<div style="text-align:center;padding:10px 0px;">
		<iframe width="312" height="176" src="http://ext.nicovideo.jp/thumb/sm28063621" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/watch/sm28063621">【ニコニコ動画】【ニコニコ自作ゲームフェス2016】グルリンダッシュ【たのしい】</a></iframe>
	</div>

	{{template "credit" .}}
	{{template "footer" .}}
	<script type="text/javascript" src="/js/moveBackground.js"></script>
{{end}}

